extends base

block append head
  link(rel="stylesheet", href="/css/shop.css")

block content
  //  Navigation 
  .nav-wrapper.pr-6.pl-5.pt-5.is-flex.is-justify-content-space-between
    .nav-brand
      a.nav-item.is-flex(href="/")
        img.is-hidden-tablet(src="https://img.icons8.com/color/48/000000/nike.png", width="25%")
        img.is-hidden-mobile(src="https://img.icons8.com/color/48/000000/nike.png")
        span.is-size-3.pl-2 footville
    .nav-links.is-hidden-mobile
      a.nav-link.mr-5(href="/") Featured
      a.nav-link.mr-5(class=`${doc.gender == 'u' ? 'current' : ''}`)(href="/shop") Shop
      a.nav-link.mr-5(class=`${doc.gender == 'f' ? 'current' : ''}`)(href="/women") Women
      a.nav-link.mr-5(href="/signup") Signup
      a.nav-link.mr-5(href="/login") Login
      a
        i.fas.fa-shopping-bag

  // Breadcrumb
  .section.pt-6.pb-0
    nav.breadcrumb.has-arrow-separator
      ul.container.is-size-7
        - if (doc.gender !== 'f')
          li
            a.has-text-primary(href="/shop") Shop
        - if (doc.gender == 'f')
          li
            a.has-text-primary(href="/women") Women
        li.is-active
          a.has-text-grey= doc.name

  //  Product page 
  .section
    .container
      .columns.is-vcentered.is-centered
        .column.is-4.has-text-centered
          //  <div class="base-b has-background-dark"></div> 
          .home-pic
            img.home-img(src=`/img/stock/${doc.photo}`, width="80%", alt=`${doc.name}`)
        .column.is-1
        .column.is-4
          p.is-size-6.pb-3.subtitle= doc.maker
          p.is-size-3-mobile.is-size-2-desktop.title= doc.name.toUpperCase()
          p.is-size-7.pb-5= doc.description
          #pick.pb-6.is-flex
            .pr-6.mr-6
              p Size
              .is-flex.is-size-7.title.pt-2
                -for (const i of doc.sizes)
                  -if (doc.sizes.indexOf(i) % 2 !== 0)
                    span#size.px-2.py-1.mr-1.has-background-white-ter(data-target="dec-qty")= i
                  -if (doc.sizes.indexOf(i) % 2 == 0)
                    span#size.px-2.py-1.mr-1.has-background-grey(data-target="dec-qty")= i
            div
              p Quantity
              #Qty.is-flex.is-size-6.title.py-1.my-1.has-background-black.has-text-white
                span#dec.px-3(data-target="dec-qty") -
                span#val.px-3 1
                span#inc.px-3(data-target="inc-qty") +
          .is-flex.is-justify-content-space-between
            p.pr-4.is-size-3.subtitle= `£${doc.discount}`
            button.button.is-primary ADD TO CART
          p.is-size-6
            del= `was £${doc.price}` 

  include _footer         