extends base

include _nav

block append head
  link(rel="stylesheet", href="/css/shop.css")

block content 
  //  Navigation 
  +nav('Women')

  //  Products page (women) 
  .section
    .container
      h3#title.subtitle.is-size-4-tablet.is-size-5-mobile.pb-4.pt-4(style="color: #626b70").
        
        Offering you the best female kicks
        
      .columns.mt-5.is-multiline.is-variable.is-mobile

        each doc in docs 

          if (doc.gender === 'f')
            .column.is-6-mobile.is-4-tablet.is-3-desktop.pb-6
              .card
                #cardd.card-image.has-text-centered
                  img(src=`/img/stock/${doc.photo}`, alt=`${doc.name}`)
                .card-content
                  .is-size-6= `£ ${doc.discount}`
                  .title.is-size-6= doc.name
                footer.card-footer
                  p.card-footer-item
                    a.has-text-primary-dark.is-size-6.title(href=`/shoes/${doc.slug}`) View
        
  include _footer